.game-container {
  position: absolute;
  width: 360px;
  height: 379px;
  left: 76px;
  top: 69px;
  background: #0B2434;
}

.game-board {
  position: absolute;
  width: 320px;
  height: 320px;
  left: 20px;
  top: 30px;
  background: #F5F5F5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.title {
  margin: 0px;

}

.instructions {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 0px;
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 18px;
}

button {
  width: 130px;
  height: 35.84px;
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  border: none;
  font-family: 'Karla';
  font-size: 16.384px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Karla', sans-serif;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
